@import 'tailwindcss';

:root {
  --text: #140f00;
  --background: #fffaeb;
  --primary: #e86a26;
  --secondary: #fff5d6;
  --accent: #cf4307;
  --discord: #7289da;
  --discord-accent: #4682b4;
  --radius: 0.625rem;
}

.dark {
  --text: #fffaeb;
  --background: #140f00;
  --primary: #f86c30;
  --secondary: #291f00;
  --accent: #d95b17;
  --discord: #7289da;
  --discord-accent: #4682b4;
}

@theme inline {
  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-discord: var(--discord);
  --color-discord-accent: var(--discord-accent);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}
