@import 'tailwindcss';

:root {
  --text: #140f00;
  --background: #fffaeb;
  --primary: #e86a26;
  --secondary: #fff5d6;
  --accent: #cf4307;
  --discord: #7289da;
  --discord-accent: #4682b4;
}

.dark {
  --text: #fffaeb;
  --background: #140f00;
  --primary: #f86c30;
  --secondary: #291f00;
  --accent: #d95b17;
  --discord: #7289da;
  --discord-accent: #4682b4;
}

@theme inline {
  --color-accent: var(--accent);
}
